<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset Password Successfully</title>
  </head>
  <body>
    <p>Hi <b>{{name}}</b>,</p>
    <p>Your password has been changed successfully!</p>
  </body>
</html>